<!DOCTYPE html>
<html lang="si">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="My Fakebook">
    <meta name="keyword" content="me, hobbies, fakebook">
    <meta name="author" content="Mitja Pak">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style_fakebook.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="icon" href="https://www.linkpicture.com/q/logo_145.png">
    <title>Fakebook</title>
</head>
<body>
<section class="container">
    <div class="header">
        <div class="logo"><img src="https://www.linkpicture.com/q/logo_145.png" alt="Fakebook Logo">
            <div class="icon-header">
                <i class="fas fa-users fa-sm"></i>
                <i class="fas fa-comments fa-sm"></i>
                <i class="fas fa-globe fa-sm"></i>
                <input class="input-window" type="text" placeholder="Search... ">
                <button class="header-button"><i class="fas fa-search fa-sm"></i></button>
                <a class="header-links" href="#">Account</a>
                    <a class="header-links" href="#">Profile</a>
                    <a class="header-links" href="#">Home</a>
            </div>
        </div>

    </div>
    <div class="navbar">
        <div class="profile">
            <div class="profile-name">
                Mitja Pak
                <button class="follow">Follow</button>
            </div>
            <div class="profile-img">
            <img src="https://www.linkpicture.com/q/me_6.png" alt="Mitja Pak">
            </div>
            <div class="profile-informations">
                <br />
                25 years old,
                <br />
                Lenart v Slov. goricah,
                <br />
                Slovenia
            </div>
            <br />
            <div class="hobbies-and-friends">
                I like:
                <br />
                Programming, cooking, watching movies, reading and workout.
                <br />
                <br />
                Friends: 958
            </div>
            <div class="friend-button">
                <button class="add-friend">Add to friends</button>
                <button class="send-message">Send a message</button>
            </div>
        </div>
    </div>
    <div class="grid-item main">
        <div class="wall">
            <div class="profile-wall"> Mitja's wall
            </div>
            <br/>
            <div class="post">
                <div class="profile-name">
                Mitja Pak
            </div>
                <p>
                    Maecenas urna sem, interdum nec massa in, varius vehicula risus.
                    Proin blandit nunc quis tristique sagittis. Proin eleifend nisl
                    sed erat lacinia, et consequat nisi porta. Orci varius natoque
                    penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
            </div>
            <div class="icons-post">
            <i class="far fa-comment fa-sm"></i>
            <i class="fas fa-share-alt"></i></div>
        </div>
        <br />
        <hr>
        <br />
        <div class="post">
                <div class="profile-name">
                Mitja Pak
                </div>
                <p>
                    Maecenas urna sem, interdum nec massa in, varius vehicula risus.
                    Proin blandit nunc quis tristique sagittis. Proin eleifend nisl
                    sed erat lacinia, et consequat nisi porta. Orci varius natoque
                    penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
            <img src="https://practity.com/en/wp-content/uploads/sites/2/2018/03/html-css-tutorials2.jpg" alt="html and css">
        <div class="icons-post">
            <i class="far fa-comment fa-sm"></i>
            <i class="fas fa-share-alt"></i></div>
        </div>
        <br />
        <hr>
        <br />
    </div>
    <div class="grid-item ads">ADS</div>
    <br/>
    <div class="ads">
        <img src="https://thumbs.dreamstime.com/b/fresh-vector-organic-natural-product-design-element-market-ecommerce-product-ads-handmade-text-typographic-isolated-112328914.jpg" alt="ad1">
        <img src="https://neilpatel.com/wp-content/uploads/2017/09/Neil-WordPress-Image.jpg" alt="ad1">
    </div>
    <div class="footer">
        <div class="footer-name">Mitja Pak | Fakebook</div>
    </div>
</section>
</body>
</html>